@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin:10px;
    padding:15px;
    font-family: Catamaran,Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    display:inline;
}
.container{
    border: 2px solid black;
    border-radius: 14px;
    margin: 10px 7px;
    padding: 10px 15px ;
    background-color: #0d1137;
    color: #A2A2A1FF;
}
h1{
    text-align: center;
    font-size: 40px;
    letter-spacing: 2.5pt;
    font-weight: bolder;
}
h2{
    text-align: center;
    font-size:30px;
    letter-spacing: 1.5pt;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="tel"],
input[type="email"],
select{
    width:40%;
    border: 1px solid grey;
    border-radius: 7px;
    padding: 12px;
    text-align: justify;
    white-space: pre;
}
fieldset{
    /*border:solid #0e2237;*/
    width:40%;
}

input[type="submit"]{
    margin: 8px;
    padding: 12px;
    background-color: #2c9c8d;
    width: 100%;
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 20px;
    letter-spacing: 1.5pt;
}

input[type="submit"]:hover{
    background-color: darkcyan;
    cursor: pointer;
}